@import "tailwindcss";

@theme {
    --color-magenta: #ff57ff;
    --default-font-family: 'VGA';
    --breakpoint-3xl: 160rem;
    --container-3xl: 160rem;
}

.button {
    background-color: #000000;
    color: #ffffff;

    border: 1px solid #000000;
}

.button:hover {
    background-color: #ffffff;
    color: #000000;

    border-color: #ffffff;
}

.anim-opacity {
    transition: opacity 2s ease;
}

.anim-opacity-fast {
    transition: opacity 0.33s ease;
}

.anim-width {
    display: inline-block;
    transition: width 1.5s ease;
    overflow: hidden;
}

.anim-height {
    display: inline-block;
    transition: height 1.5s ease;
    overflow: hidden;
}

.anim-height-fast {
    transition: height 0.25s ease;
    overflow:hidden;
}

.anim-color {
    transition: border-color 0.33s ease-in, background-color 0.33s ease-in, color 0.33s ease-in;
}

.anim-color-opacity-fast {
    transition: opacity 0.33s ease;
}

.cursor-8bit-underline {
    cursor: url("cursor.png") 5 1, auto;
}

.cursor-8bit-block {
    cursor: url("cursor.png") 5 8, auto;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 1s ease;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}
